/* Family: [Inter](https://fonts.google.com/specimen/Inter) */
@font-face {
  font-family: Inter-Regular;
  src: url(/assets/fonts/static/Inter-Regular.ttf);
}
@font-face {
  font-family: Inter-Bold;
  src: url(/assets/fonts/static/Inter-Bold.ttf);
}
@font-face {
  font-family: Inter-ExtraBold;
  src: url(/assets/fonts/static/Inter-ExtraBold.ttf);
}
body {
  background-color: hsl(36, 100%, 99%);
  box-sizing: border-box;
  padding: 2rem 0;
  width: 90%;
  justify-content: center;
  margin: auto;
  align-items: center;
}

nav {
  height: 80px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 96%;
  margin-left: 15px;
}

nav ul {
  list-style: none;
  display: inline-flex;
  padding: 0;
}
nav ul li {
  margin: 0 7px;
}

nav ul li a {
  color: hsl(240, 100%, 5%);
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding: 0;
}

nav ul li a:hover {
  color: hsl(5, 85%, 63%);
  transition: all 0.4s ease;
}
nav ul img {
  display: none;
}
nav .icon-menu {
  display: none;
}

.mobile-img {
  display: none;
}
.style-color a:hover {
  color: hsl(5, 85%, 63%);
}

.style-color a {
  color: hsl(240, 100%, 5%);
}
.New {
  background-color: hsl(240, 100%, 5%);
  padding-top: 2rem;
}

.New h1 {
  color: hsl(35, 77%, 62%);
  margin-bottom: 0.9rem;
}
.news-section a:link {
  text-decoration: none;
}
.news-section a {
  color: hsl(36, 100%, 99%);
  text-decoration: none;
}
.news-section a:hover {
  color: hsl(35, 77%, 62%);
}
.line {
  margin: 2rem 0;
  border-top: 2px solid hsl(236, 13%, 42%);
}
.btn-style {
  padding: 0.5rem 2rem;
  background-color: hsl(5, 85%, 63%);
  border: none;
  color: hsl(36, 100%, 99%);
  cursor: pointer;
}
a {
  cursor: pointer;
}
.btn-style:hover {
  background-color: hsl(240, 100%, 5%);
}
.title-style {
  font-weight: 900;
  width: 70%;
  font-family: "Inter-ExtraBold";
}
.web-three {
  margin-top: 2rem;
}
.container {
  margin-top: 1rem;
}
.accessories-detail {
  margin-top: 2rem;
  width: 100%;
}
.tools {
  color: hsl(236, 19%, 72%);
}
.tool a:link {
  text-decoration: none;
}
.tool a {
  color: hsl(240, 100%, 5%);
  text-decoration: none;
}
.tool a:hover {
  color: hsl(5, 85%, 63%);
}

p {
  font-size: 15px;
  font-size: "Inter-Regular";
  color: hsl(236, 19%, 72%);
}
h5 {
  font-family: "Inter-Bold";
  font-weight: 400;
}
h4 {
  font-family: "Inter-Regular";
  font-weight: 300;
  color: hsl(233, 8%, 79%);
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  nav ul {
    position: fixed;
    height: 100vh;
    width: 200px;
    display: block;
    background-color: whitesmoke;
    top: 0;
    right: -200px;
    border-radius: 0px;
    z-index: 1;
    transform: all 1s ease;
  }
  nav ul li {
    margin: 15px 0;
  }
  nav ul img {
    display: inline-block;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 5px;
    margin-left: 140px;
    margin-bottom: 50px;
    margin-right: 10px;
    width: 15%;

    cursor: pointer;
  }
  nav .icon-menu {
    display: inline-block;
    width: 32px;
    padding-top: 4px;
    margin-right: 30px;
  }
  .web-img {
    display: none;
  }
  .mobile-img {
    display: block;
    width: 100%;
  }
  .New {
    margin-top: 2rem;
    margin-left: 15px;
  }
  .accessories-detail {
    margin-left: 15px;
    margin-top: 2rem;
  }
  .tool {
    margin-left: 0;
  }
  .tool p {
    width: 89%;
  }
  .tool a:hover {
    color: hsl(5, 85%, 63%);
  }
  .acess-margin {
    margin-bottom: 2rem;
  }
  .acess-margin img {
    height: 133px;
  }
  .title-style {
    width: 94%;
  }
}
